/**/


/* normal state */


/**/

.sky-form .toggle i:before {
    background-color: #2a70e8;
}

.sky-form .button {
    background-color: #2a70e8;
}


/**/


/* hover state */


/**/

.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i {
    border-color: #94b7f3;
}

.sky-form .rating input+label:hover,
.sky-form .rating input+label:hover~label {
    color: #2a70e8;
}


/**/


/* focus state */


/**/

.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus+i,
.sky-form .checkbox input:focus+i,
.sky-form .toggle input:focus+i {
    border-color: #2a70e8;
}


/**/


/* checked state */


/**/

.sky-form .radio input+i:after {
    background-color: #2a70e8;
}

.sky-form .checkbox input+i:after {
    color: #2a70e8;
}

.sky-form .radio input:checked+i,
.sky-form .checkbox input:checked+i,
.sky-form .toggle input:checked+i {
    border-color: #2a70e8;
}

.sky-form .rating input:checked~label {
    color: #2a70e8;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert ul {
    margin-left: 20px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,
.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}